# Palindrome

Q1. To check palindrome with slicing.

In [ ]:
s = input('enter string : ')

# checking for palindrome with slicing

if s == s[::-1]:
  print('Entered string is a palindrome')
else:
  print('Entered string is not a palindrome')

enter string : goog
Entered string is a palindrome

Q2. To check palindrome without slicing.

In [ ]:
s = input('Enter string : ')
L = list(s)
L.reverse()
Reverse = "".join(L)
if s == Reverse:
  print('Entered string is a palindrome')
else:
  print('Entered string is not a palindrome')

Enter string : creed
Entered string is not a palindrome

Q3. To check palindrome without slicing( another method)

In [ ]:
s = input('Enter string : ')
c = s
l = len(s)
for i in s:
  if i != c[l-1]:
    print('Entered string is not a palindrome')
    break
  l -= 1
else:
  print('Entered string is a palindrome')

Enter string : malayalam
Entered string is a palindrome

Q4. Convert a string to camel case.

In [ ]:
s = input('Enter string : ')
lst = []

for word in s.split():
  lst.append(word[0].upper()+word[1:])

Cam = " ".join(lst)
print('String "%s" converted to camel case is "%s"'% (s, Cam))

Enter string : My name is Aish
String "My name is Aish" converted to camel case is "My Name Is Aish"

Q5. Find the number of vowels and consonants.

In [ ]:
s = input('Enter string : ')

v = 0
c = 0

for char in s:
  if char in ['a', 'e', 'i', 'o', 'u'] or char in ['A', 'E', 'I', 'O', 'U']:
    v += 1
  elif char.isalpha():
    c += 1

print('Number of vowels is %d and number of consonants is %d' %(v,c))

Enter string : Assassin's Creed
Number of vowels is 5 and number of consonants is 9

Q6. Validate a gien date (output1).

In [ ]:
maxdays = [None, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
line = input('enter the date as dd/mm/yyyy : ')
(dd, mm, yy) = line.split('/')
dd = int(dd)
mm = int(mm)
yy = int(yy)
if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
  maxdays[2] =29
if mm < 1 or mm > 12:
  print('invalid month')
elif dd < 1 or dd > maxdays[mm]:
  print('invalid date')
else:
  print('date ok')

enter the date as dd/mm/yyyy : 06/05/2018
date ok

Q7. Validate a given date (output 2).

In [ ]:
maxdays = [None, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
line = input('enter the date as dd/mm/yyyy : ')
(dd, mm, yy) = line.split('/')
dd = int(dd)
mm = int(mm)
yy = int(yy)
if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
  maxdays[2] =29
if mm < 1 or mm > 12:
  print('invalid month')
elif dd < 1 or dd > maxdays[mm]:
  print('invalid date')
else:
  print('date ok')

enter the date as dd/mm/yyyy : 34 / 06 / 2018
invalid date

Q8. Validate a given date (output 3).

In [ ]:
maxdays = [None, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
line = input('enter the date as dd/mm/yyyy : ')
(dd, mm, yy) = line.split('/')
dd = int(dd)
mm = int(mm)
yy = int(yy)
if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
  maxdays[2] =29
if mm < 1 or mm > 12:
  print('invalid month')
elif dd < 1 or dd > maxdays[mm]:
  print('invalid date')
else:
  print('date ok')

enter the date as dd/mm/yyyy : 31 / 15 / 2018
invalid month

Q9. Finding unique characters in a given string.

In [ ]:
def find_unique(*all):
  for word in all:
    unique_char_list = list(set(word))
    print('Unique characters in '+ word+' : '+ str(unique_char_list))

find_unique('aaaa', 'abcd', 'abba', 'xyz', 'abcba')

Unique characters in aaaa : ['a']
Unique characters in abcd : ['b', 'd', 'a', 'c']
Unique characters in abba : ['b', 'a']
Unique characters in xyz : ['z', 'y', 'x']
Unique characters in abcba : ['b', 'a', 'c']

Q10. Generate Pascal Triangle (output 1).

In [ ]:
print('Enter n : ', end = '')
n = int(input())
# create a list of lists, each list having varying # of elements
# = jagged array

# create n lists
pt = []
for i in range(n):
  pt.append([])
  pt[i].append(1)
  for j in range(1, i):
    pt[i].append(pt[i-1][j-1] + pt[i - 1][j])
  if i != 0 : pt[i].append(1)

# print(pt)
for i in range(n):
  # output spaces ; # of spaces decreases as ia increases
  print('   ' * (n - i), end = '', sep = "")
  for j in range(i + 1):
    print('{0:6}'.format(pt[i][j]), end = '', sep = '')
  print()

Enter n : 5
                    1
                 1     1
              1     2     1
           1     3     3     1
        1     4     6     4     1

Q11. Generate Pascal Triangle (output 2).

In [ ]:
print('Enter n : ', end = '')
n = int(input())
# create a list of lists, each list having varying # of elements
# = jagged array

# create n lists
pt = []
for i in range(n):
  pt.append([])
  pt[i].append(1)
  for j in range(1, i):
    pt[i].append(pt[i-1][j-1] + pt[i - 1][j])
  if i != 0 : pt[i].append(1)

# print(pt)
for i in range(n):
  # output spaces ; # of spaces decreases as ia increases
  print('   ' * (n - i), end = '', sep = "")
  for j in range(i + 1):
    print('{0:6}'.format(pt[i][j]), end = '', sep = '')
  print()

Enter n : 4
                 1
              1     1
           1     2     1
        1     3     3     1

Q12. Concatenating all given strings to a single string.

In [ ]:
def combine(*all, init = 'result: ', sep = ','):
  return init + sep.join(all)

print(combine('this', 'is', 'a', 'test'))
print(combine('this', 'is', 'a', 'test', init = 'fool', sep = ' - '))

result: this,is,a,test
foolthis - is - a - test

Q13. Functionality of histogram.

In [ ]:
def histogram(s):
  d = dict()
  for c in s:
    d[c] = d.get(c, 0) + 1
  return d

# OR

def histogram(s):
  d = dict()
  for c in s:
    if c not in d:
      d[c] = 1
    else:
      d[c] = d[c] + 1
  return d

def print_hist(h):
  key_list = sorted(h.keys())
  for key in key_list:
    print(key, h.get(key))

print_hist(histogram('brontosaurus'))

a 1
b 1
n 1
o 2
r 2
s 2
t 1
u 2

Q14. Traverse a given path (output 1 & 2)

In [ ]:
import os

# set the directory to start from
print('Enter path to traverse : ', end = '')
rootDir = input()
if (os.path.exists(rootDir)):
  dir_count = 0
  file_count = 0
  for dirName, subdirList, fileList in os.walk(rootDir):
    print('Found directory : %s' %dirName)
    # check ot ignore starting directory while taking directory count
    # normpath returns the normalized path eliminating double slashes etc.
    if os.path.normpath(rootDir) != os.path.normpath(dirName):
      dir_count += 1
    for fname in fileList:
      file_count += 1
      print('\t%s'% fname)

  print('No : of subdirectories : ', dir_count, end = '')
  print('\nNo. : of files : ' file_count, end = '')
else:
  print("Entered pth doesn't exist")

Q15. Creating a class called My Stack (output 1).

In [ ]:
class MyStack:
  # assumed that the size is not negative
  def __init__(self, size = 10):
    self.mylist = [ ]
    self.size = size
  def push(self, elem):
    l = len(self.mylist)
    if l < self.size:
      self.mylist.append(elem)
    else:
      raise StackFull()
  def pop(self):
    if len(self.mylist) == 0:
      raise StackEmpty()
    else:
      return self.mylist.pop()

s = MyStack(3)
# what follows could be enu driven

try:
  s.push(10)
  s.push(10)
  s.push(30)

  print(s.pop())
  print(s.pop())
  print(s.pop())

except Exception as e:
  print(e)

30
10
10

Q16. Creating a class called My Stack (output 2).

In [ ]:
class MyStack:
  # assumed that the size is not negative
  def __init__(self, size = 10):
    self.mylist = [ ]
    self.size = size
  def push(self, elem):
    l = len(self.mylist)
    if l < self.size:
      self.mylist.append(elem)
    else:
      raise StackFull()
  def pop(self):
    if len(self.mylist) == 0:
      raise StackEmpty()
    else:
      return self.mylist.pop()

s = MyStack(3)
# what follows could be enu driven

try:
  s.push(10)
  s.push(10)
  s.push(30)
  s.push(40)

  print(s.pop())
  print(s.pop())
  print(s.pop())

except Exception as e:
  print(e)

name 'StackFull' is not defined

Q17. Creating a class called My Stack (output 3).

In [ ]:
class MyStack:
  # assumed that the size is not negative
  def __init__(self, size = 10):
    self.mylist = [ ]
    self.size = size
  def push(self, elem):
    l = len(self.mylist)
    if l < self.size:
      self.mylist.append(elem)
    else:
      raise StackFull()
  def pop(self):
    if len(self.mylist) == 0:
      raise StackEmpty()
    else:
      return self.mylist.pop()

s = MyStack(3)
# what follows could be enu driven

try:
  s.push(10)
  s.push(10)
  s.push(30)

  print(s.pop())
  print(s.pop())
  print(s.pop())
  print(s.pop())

except Exception as e:
  print(e)

30
10
10
name 'StackEmpty' is not defined

Q18. Creating a class to represent city.

In [ ]:
class Place:
  def __init__(self, city, *places):
    self.city = city
    self.places = list(places)

  def add(self, place):
    self.places.append(place)

  def remove(self, place):
    #excption not checked 
    self.places.remove(place)

  def disp(self):
    print(self.city)
    for place in self.places:
      print('\t',place)


p = Place('Mysore', 'Mysore Palace', 'Zoo')
p.disp()
p.add('KRS')
p.disp()
p.remove('Zoo')
p.disp()

Mysore
	 Mysore Palace
	 Zoo
Mysore
	 Mysore Palace
	 Zoo
	 KRS
Mysore
	 Mysore Palace
	 KRS

Q19. Regular Expressions ('details.txt' is the input file).